body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#container, .buttons {
  text-align: center;
  padding-top: 25px;
  margin: 0px auto;
}

 button {
  padding: 6px;
  margin: 1px;
  /* border: none; */
  font-size: 16;
  cursor: pointer;
}

canvas {
  text-align: center;
}
